* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}
/* Root functions start */
:root {
    /* Header and Background Colors */
    --header-bg-color: #fff;
    --bg-color-zero: #F7F8FA;
    /* Text Colors */
    --txt-color-zero: #34315C;
    --txt-color-one: #FF284F;
    --txt-color-two: #333;
    --txt-color-three: #fff;
    /* Button Colors */
    --button-color-zero: #45C881;
    /* Heights */
    --header-height: 55px;
    --header-line-height: 55px;
    /* Footer and Background Colors */
    --footer-bg-color: #1E1C27;
}
/* Root functions end */


/* Common styles start */
a {
    text-decoration: none;
}
.hd-box {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
/* Common styles end */

/* Header styles start */
.header {
    background: var(--button-color-zero);
    height: var(--header-height);
    line-height: var(--header-line-height);
}
.pro-logo {
    float: left;
}
.pro-logo a {}
.pro-logo a:hover {}
.pro-menu {
    float: left;
}
.pro-menu ul {
    display: flex;
}
.pro-menu ul li {
    display: flex;
}
.pro-menu ul li a {
    padding: 0 15px;
}
.pro-menu ul li a:hover {}
.pro-buttons {}
.pro-buttons>button {}